/*--------IMPORTAÇÕES----*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

/*---------GERAL---------*/
*{
    list-style: none;
    text-decoration: none;
}

/*---------HEADER---------*/
#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
#header-logo{
    width: 134px;
    height: 51px;
    padding: 0;
    margin-left: 100px;
    margin-top: 20px;
}
#redes{
    cursor:pointer;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70px;
    height: 30px;
    margin-right: 100px;
    margin-top: 20px;
}
/*---------CHAMATIVO1---------*/
#chamativo1{
    width: 100%;
    height: 745px;
    justify-content: space-between;
    background-image: url(img/chamativo/adrien-olichon-RCAhiGJsUUE-unsplash.png);
}
#titulo1{
    width: 458px;
    height: 150px;
    font-size: 64px;
    line-height: 77px;
    color:white;
    font-style: normal;
    font-weight: bold;
    /*Tive dificuldades em encontrar essa fonte, fico devendo essa para vocês*/
    font-family: artigo;
}
#textobuttondiv{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin-top: 200px;
    margin-right: 0px;
    height: 20vh;
}

#buttondiv{
    background-color: #00EC5B;
    color: black;
    border: none;
    border-radius: 25px;
    font-size: 1.2em;
    font-family: Georgia, serif;
    font-weight: bold;
    padding: 15px 25px;
    transition: all 0.5s;
    font-size: 14px;
    width: 193px;
    height: 56px;
    cursor: pointer;
    margin-top:30px;
    margin-left: 20px;
}
#buttondiv:hover{
    background-color: #7DF75B;
    color: white;
    transition: all 0.5s;
}
#div-img1{
    justify-content: right;
}
#img-chamativa1{
    margin: 0;
    position: relative;
    bottom: 100px;
    right: 50px;
}
/*---------PRODUTOS---------*/
#produtos{
    height: 900px;
    color: white;
}
#prodh1p{
    width: 100%;
    position: relative;
}
#prodh1p h1{
    width: 100px;
    position: relative;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    font-size: 24px;
    font-weight: bolder;
    color: #101213;
    margin-top: 80px;
    margin-right: 0;
}
#prodh1p p{
    position: relative;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 50px;
    color: #0E0E0E;
    font-size: 16px;
    text-align: center;
    margin-top: 25px;
    margin-right: 0px;
}
#produtos-container{
    display: flex;
    justify-content: center;
}
#produtos-div{
    text-align: center;
    background-color: #ffffff;
    width: 360px;
    height: 484px;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 1px 5px 5px 1px #aaa;
    margin: 60px;
    margin-bottom: 10px;


}
#produtos-div p {
    position: relative;
    top: 30px;
    color: black;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}
#produtos-div h1{
    color: black;
    font-weight: bolder;
    margin-top: 20px;
}
#img-produto2{
    margin-top: 29px;
    width: 169px;
    height: 260px;
}

#produtos-div button{
    background-color: #00EC5B;
    color: black;
    border: none;
    border-radius: 25px;
    font-size: 1.2em;
    font-family: Georgia, serif;
    font-weight: bold;
    padding: 15px 25px;
    transition: all 0.5s;
    cursor: pointer;
    font-size: 14px;
    width: 193px;
    height: 56px;
    margin-top:30px;
    position: relative;
    top: 80px;
}
#produtos-div button:hover{
    background-color: #7DF75B;
    color: white;
    transition: all 0.5s;
}
/*---------CHAMATIVO2---------*/
#chamativo2{
    height: 411px;
    width: 100%;
    max-width: 500px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 20vw;
}
#img1-chamativo2{
    width: 100%;
    grid-row: 1/3;
}
.slideshow-container {
    background: #1B1F1C;
    width: 100%;
    height: 423px;
}
  #firstSlide{
      margin-top: 50px;
      display: block;
      color: white;
      width: 367px;
      height: 46px;
      font-size: 18px;
      padding: 80px;
}
.author{
    margin-top: 20px;
}
  .mySlides {
    margin-top: 50px;
    color: white;
    width: 367px;
    height: 46px;
    font-size: 18px;
    padding: 80px;
    display: none;
    text-align: center;
}
  .dot-container {
    text-align: center;

}
  .dot {
    padding: 0;
    text-align: center;
    cursor: pointer;
    height: 5px;
    width: 5px;
    margin: 0px 8px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
  
.active, .dot:hover {
    background-color: #717171;
}
  .author {
    color: white;
}
  #img2-chamativo2{
      width: 100%;
  }
  #img2-chamativo2 img{
    width: 100%;
    height: 388px;
    filter:brightness(55%);
}
  #img2-chamativo2 h1{
      width: 262px;
      height: 42px;
      font-size: 32px;
      font-weight: bold;
      color: white;
      position: relative;
      bottom: 220px;
      left: 150px;

  }
/*---------SECTION-EXPERIMENTA---------*/

#experimente{
    margin-top: 550px;
    background-color: #00EC5B;
    width: 100%;
    height: 290px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#experimente button{
    background-color: #1B1F1C;
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 1.2em;
    font-family: Georgia, serif;
    font-weight: bold;
    padding: 15px 25px;
    transition: all 0.5s;
    cursor: pointer;
    width: 193px;
    margin-top:30px;
    margin-left: 20px;
    font-size: 14px;
    position: relative;
    bottom: 150px;
}
#experimente button:hover{
    background-color: #dddddd;
    color: black;
    transition: all 0.5s;
}
#experimente h1{
    font-size: 28px;
    font-weight: bolder;
    height: 300px;
    margin-right: 0;
    display: grid;
    justify-content: center;
    align-items: center;
}
#expimg1{
    position: relative;
    bottom: 110px;
    left: 80px;
}
#expimg2{
    position: relative;
    top: 60px;
}
#expimg3{
    position: relative;
    top: 30px;
}
/*---------FALECONOSCO---------*/
#faleconosco{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #1B1F1C;
    width: 100%;
    height: 750px;
    position: absolute;
}
#txtfaleconosco h1{
    font-weight: bolder;
    align-items: center;
    color: white;
    font-size: 40px;
    margin-left: 150px;
    margin-top: 200px;
}
#redes-foot{
    width: 150px;
    height: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 160px;
    margin-top: 20px;
}
#footer-fonts{
    cursor: pointer;
    margin-right: 10px;
    position: relative;
    right: 10px;
}
#formulario{
    margin-top: 70px;
    width: 80%;
    padding: 20px;
    text-align: center;
}
#wrapper{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
    gap: 30px;
}
#wrapper #box{
    width: 100%;
    position: relative;
    padding: 20px;
}
#wrapper #box input{
    width: 100%;
    font-size:20px;
    color: white;
    background: #1B1F1C;
    border-top: 1px solid white;
    border-right: 1px solid white;
    border-bottom: none;
    border-left: none;
    transition: 0.5s linear;
    outline: none;
}
#wrapper #box input:focus,
#wrapper #box input:valid{
    color: white;
    background: grey;
    border-top: 1px solid #00EC5B;
    border-right: 1px solid #00EC5B;
}
#wrapper #box input:focus + #control-label{
    color: #00EC5B;
}
#wrapper #box option{
    width: 200px;
    font-size:20px;
    color: white;
    background: grey;
    border-top: 1px solid white;
    border-right: 1px solid white;
    border-bottom: none;
    border-left: none;
    outline: none;
}
#wrapper #box select:focus + #control-label{
    color: #00EC5B;
}
#wrapper #box select{
    width: 100%;
    font-size:20px;
    color: grey;
    background: #1B1F1C;
    border-top: 1px solid white;
    border-right: 1px solid white;
    border-bottom: none;
    border-left: none;
    transition: 0.5s linear;
    outline: none;
}

::-webkit-input-placeholder{
    color:grey;
    font-size: 16px;
}
:focus::-webkit-input-placeholder{
    color: white;
    font-size: 16px;
}
#wrapper #box label{
    position: absolute;
    top: -30px;
    left: 0;
    color: grey;
    font-size: 12px;
    font-weight: bold;
    padding: 20px;
}

#wrapper #box textarea{
    width: 100%;
    height: 131px;
    font-size: 20px;
    color:white;
    background: #1B1F1C;
    outline: none;
    border-top: 1px solid white;
    border-right: 1px solid white;
    border-bottom: none;
    border-left: none;
    transition: 0.5s linear;
    resize: none;
}
#wrapper #box textarea:focus,
#wrapper #box textarea:valid{
    background: gray;
    border-top: 1px solid #00EC5B;
    border-right: 1px solid #00EC5B;
}
#wrapper #box textarea:focus + #control-label{
    color: #00EC5B;
}
#formulario input[type="submit"]{
    background-color: #00EC5B;
    color: black;
    border: none;
    border-radius: 25px;
    font-size: 1.2em;
    font-family: Georgia, serif;
    font-weight: bold;
    padding: 15px 25px;
    transition: all 0.5s;
    cursor: pointer;
    font-size: 14px;
    width: 193px;
    height: 56px;
    margin-left: 410px;
}
#formulario input[type="submit"]:hover{
    background-color: #7DF75B;
    color: white;
    transition: all 0.5s;
}

#direitosfoot{
    font-size: 12px;
    margin-top: 85px;
    margin-left: 150px;
    color: grey;
}
#direitosfoot2{
    width: 258px;
    height: 50px;
    display: flex;
    justify-content: right;
    color: white;
    margin-top: 60px;
    margin-left: 300px;
}
#direitosfoot2 h4{
    width: 100px;
    margin-top: 15px;
}
/*---------MEDIAQUERIES---------*/
@media(max-width:1440px){
        /*---------CHAMATIVO2---------*/
        #chamativo2{margin-left: 15%;}
        #img1-chamativo2{
            width: 520px;
            height: 829px;
        }
        #img2-chamativo2 img{
            width: 520px;
            height: 409px;
            position: relative;
            bottom: 5px;
        }
        #img2-chamativo2 h1{
            color: white;
            margin: 0;
            position: relative;
            width: 385px;
            bottom: 230px;
            left: 140px;
        }
        .slideshow-container {
            width: 520px;
            height: 407px;
        }
        #firstSlide{
            margin-left: 20%;
            margin-top: 100px;
            padding: 40px;
            position: relative;
            right: 70px;
      }
        .mySlides {
          margin-left: 20%;
          margin-top: 100px;
          padding: 40px;
          position: relative;
          right: 70px;   
      }
      .dot {
        height: 10px;
        width: 10px;
        margin-top: 40px; 
    }
    /*---------EXPERIMENTA---------*/
    #expimg3{width: 400px;}
}
@media(max-width: 1140px){
    #chamativo2{margin-left: 0%;}
    #img1-chamativo2{
        margin-left: 20px;
        width: 385px;
        height: 829px;
    }
    #img2-chamativo2 img{
        width: 385px;
        height: 409px;
        position: relative;
        right: 20px;
        bottom: 5px;
    }
    #img2-chamativo2 h1{
        width: 260px;
        margin: 0;
        position: relative;
        bottom: 230px;
        left: 40px;
    }
    .slideshow-container {
        background: #0E0E0E;
        width: 385px;
        height: 407px;
        position: relative;
        right: 20px;
    }
    #firstSlide{
        width: 330px;
        height: 46px;
        font-size: 16px;
        padding: 40px;
        position: relative;
        right: 50px;
        margin-left: 40px;
  }
    .mySlides {
      width: 330px;
      height: 46px;
      font-size: 16px;
      padding: 40px;
      right: 50px;
  }
  .dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
}
    #expimg3{width: 300px;}
}
@media(max-width: 1005px){
            /*---------CHAMATIVO2---------*/
            body h1{
                margin-right: 0;
            }
            #chamativo2{
                margin-left: 0%;
                position: relative;
                right: 50px;
            }
            #img2-chamativo2 h1{
                width: 260px;
            }
            #expimg3{
                position: relative;
                right: 80px;
                width: 250px;
                height: 400px;
            }
            #formulario{
                position: relative;
                right: 80px;
            }
            #txtfaleconosco{
                position: relative;
                right: 100px;
            }
            #direitosfoot2{
                position: relative;
                right: 120px;
            }
}
@media (max-width: 768px){
    body{
        width: 792px;
    }
    /*---------HEADER---------*/
    #header-logo{margin-left: 10px;}
    #redes{margin-right: 50px;}
    /*---------CHAMATIVO1---------*/
    #titulo1{
        font-size: 48px;
        margin-left: 80px;
    }
    #buttondiv{margin-left: 80px;}
    #div-img1{
        width: 100%;
        position: relative;
        right: 48px;
    }
    /*---------PRODUTOS---------*/
    #prodh1p p{width: 350px;}
    #prodh1p h1{
        width: 100px;
        position: relative;
        right: 500px;
        margin-right: 0;
    }
    #produtos-div{
        width: 340px;
        margin-right: 10px;
        margin-left: 0px;
    }
    #produtos-div p{
        position: relative;
        left: 0px;
    }
    /*---------CHAMATIVO2---------*/
    #chamativo2{
        margin-left: 60px;
        margin-right: 0px;
        width: 100px;
    }
    #img1-chamativo2{
        margin-left: 12px;
        width: 385px;
        height: 829px;
    }
    #img2-chamativo2 img{
        width: 385px;
        height: 409px;
        position: relative;
        right: 20px;
        bottom: 5px;
    }
    #img2-chamativo2 h1{
        width: 260px;
        margin: 0;
        position: relative;
        bottom: 230px;
        left: 40px;
    }
    .slideshow-container {
        background: #0E0E0E;
        width: 385px;
        height: 407px;
        position: relative;
        right: 20px;
    }
    #firstSlide{
        width: 330px;
        height: 46px;
        font-size: 16px;
        padding: 40px;
        position: relative;
        right: 50px;
        margin-left: 40px;
  }
    .mySlides {
      width: 330px;
      height: 46px;
      font-size: 16px;
      padding: 40px;
      right: 50px;
  }
  .dot {
    height: 10px;
    width: 10px;
    margin-top: 20px;
    margin-left: 5px;
}
    /*---------EXPERIMENTE---------*/
    #expimg1{
        transform: scaleX(0.7);
        transform: scaleY(0.7);
        position: relative;
        bottom: 110px;
        left: 60px;
    }
    #expimg2{
        transform: scaleX(0.9);
        transform: scaleY(0.9);
        position: relative;
        top: 70px;
        right: 40px;
    }
    #experimente h1{
        font-size: 24px;
        font-weight: bolder;
        height: 300px;
        margin-right: 0;
        position: relative;
        right: 70px;
    }
    #experimente button{
        position: relative;
        right: 80px;
    }
    #expimg3{
        width: 300px;
        transform: translateY(2);
        transform: scaleY(1.1);
        position: relative;
        top: 60px;
        right: 90px;
    }
    /*---------FALE CONOSCO---------*/
    #faleconosco{
        width: 792px;
        display: grid;
        grid-template-columns: 1fr;
        background-color: #1B1F1C;
        height: 1060px;
        position: absolute;
    }
    #txtfaleconosco h1{
        width: 250px;
        margin: 0;
        font-size: 40px;
        position: relative;
        left: 380px;
        top: 100px;
    }
    #redes-foot{
        width: 150px;
        height: 30px;
        margin-left: 150px;
        position: relative;
        left:280px;
        top:100px;
    }
    #formulario{
        width: 80%;
        padding: 40px;
        text-align: center;
        margin-left: 90px;
        margin-bottom: 0px;
        position: relative;
        bottom: 10px;
    }
    #wrapper{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 30px;
        gap: 30px;
    }
    #direitosfoot{
        width: 300px;
        font-size: 16px;
        color: grey;
        position: relative;
        top: 50px;
        left: 120px;
    }
    #direitosfoot2{
        width: 258px;
        height: 50px;
        justify-content: right;
        color: white;
        position: relative;
        bottom: 20px;
        right: 10px;
    }
    #direitosfoot2 h4{
        position: relative;
        left: 20px;
    }
    #wrapper #box label{
        width: 100px;
        margin-left: 10px;
        font-size: 18px;
        font-weight: bold;
        padding: 20px;
    }
    #formulario input[type="submit"]{
        width: 555px;
        height: 56px;
        margin-left: 30px;
    }
    #wrapper #box select{width: 590px;}
    #wrapper #box textarea{width: 590px;}
    #wrapper #box input{width: 590px;}
    #wrapper #box option{width: 590px;}
}
@media (max-width: 375px){
    body{width: 768px;}
    /*---------HEADER---------*/
    #header-logo{margin-left: 10px;}
    #redes{margin-right: 50px;}
    /*---------CHAMATIVO1---------*/
    #titulo1{
        width: 300px;
        height: 80px;
        text-align: center;
        font-size: 38px;
        margin-left: 330px;
        margin-top: 170px;
    }
    #buttondiv{
        position: relative;
        top: 70px;
        left: 60px;
        width: 700px;
    }
    #div-img1{
        position: relative;
        right: 350px;
        bottom: 50px;
        width: 210px;
        height: 372px;
    }
    #div-img1 img{
        width: 200px;
        height: 350px;
    }
    /*---------PRODUTOS---------*/
    #produtos{width: 768px;}
    #produtos-container{
        display: grid;
        justify-content: center;
        height: 900px;
    }
    /*---------CHAMATIVO2---------*/
    #chamativo2{
        width: 100%;
        height: 1700px;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
        margin: 0 auto;
    }
    #img1-chamativo2{
        margin-top: 450px;
        position: relative;
        left: 2px;
    }
    .slideshow-container {
        width: 566px;
        height: 423px;
        position: relative;
        left: 15px;
        bottom: 40px;
    }
    #firstSlide{
        font-size: 18px;
        padding: 30px;
        margin-left: 140px;
        margin-top: 120px;
  }
    .mySlides {
        font-size: 18px;
        padding: 30px;
        margin-left: 140px;
        margin-top: 120px;
  }
    .dot{
        margin-top: 50px;
        margin-left: 20px;
    }

    #img2-chamativo2{
        width: 566px;
        position: relative;
        bottom: 60px;
        left: 35px;
    }
    #img2-chamativo2 img{width: 566px;}
    #img2-chamativo2 h1{margin-left: 100px;}
    /*----------EXPERIMENTE-------*/
    #experimente{height: 370px;}
    #h1button-experimenta{
        position: relative;
        left: 260px;
        top: 100px;
    }
    #h1button-experimenta h1{
        position: relative;
        right: 100px;
        font-size: 32px;
    }
    #expimg1{display: none;}
    #expimg2{display: none;}
    #expimg3{
        transform: rotate(-16grad);
        top: -150px;
        right: 130px;
    }
    /*----------FALECONOSCO-------*/
    #faleconosco{width: 768px;}
    #txtfaleconosco{margin-left: 0px;}
    #formulario{margin-left: 80px;}
}